@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.imagen-con-gradiente {
    position: relative;
    .arena{
        width: 100%;
    }

  }

.imagen-con-gradiente::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 0%, #05010D 100%);
    z-index: 1;
}

.rotado{
    transform: rotate(180deg);
}
 
.todo{
    margin-top: -250px;

  }