@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');



.contenido{

    display: flex;
    flex-direction: row;
    justify-content: center;
 
    width: 100%;
    background-image: url("src/assets/FondoEstrellado.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10rem;
    margin-top: -11rem;
    padding-bottom: 3.75rem;
    gap: 6rem;
     
    .about{
        padding: 1.625rem 1.438rem;
        color: #F0E2D6;
        display: flex;
        flex-direction: column;
        width: 18rem;
        gap:1.625rem;
         
 

        .title{
            font-family: 'Advent Pro', sans-serif;
            letter-spacing: 2.5px;
            font-size: 2.25rem;
            text-align: center;
            
        }

        .expl{
            font-family: 'Abel', sans-serif;
            font-size: 1.25rem;
            text-align: justify;
        }



    }

    .der{
        display: flex;
        flex-direction: column;
        gap: 1.438rem;
         
         

        .title{
            color:#F0E2D6;
            font-family: 'Advent Pro', sans-serif;
            letter-spacing: 2.5px;
            font-size: 2.25rem;
            text-align: center;
        }

        .team{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 35rem;
             
    
        }

    }
 
}



