@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.todo{
    display: flex;
    flex-direction: column;
    gap: 0.688rem;

    .titulos {
        margin:0px auto;
        font-size: 2.25rem;
        font-family: 'Advent Pro', sans-serif;
    }

    .content{
        margin:0px;
        font-family: 'Abel', sans-serif;
        font-size: 1.25rem;
        background-color: rgba(5, 1, 13, 0.4);
        padding: 1rem;
        border-radius: 20px;
    }


}